{% extends 'status/base.html' %}
{% load static %}

{% block title %}Test Index{% endblock title %}

{% block content %}
<div>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="nama">Nama :</label>
            <input type="text" name="nama" id="nama">
            <br/>
            <label for="email">Email :</label>
            <input type="email" name="email" id="email">
            <br/>
            <label for="pesan">Status :</label>
            <br/>
            <textarea name="pesan" id="pesan" cols="30" rows="10"></textarea>
            <input type="submit" value="Submit" id="addsubmit">
        </form>
    </div>
    <div>
        {% for status in data %}
            <div>
                <h3><a href="{% url 'userpage' status.orang.nama %}" >{{ status.orang.nama }}</a></h3>
                <span>{{ status.orang.email }}</span>
            </div>
            <div>
                <p data-test="pesan">{{ status.pesan }}</p> 
                <p>{{ status.date_posted }}</p>
            </div>
        {% endfor %}
        {% if not data %}
            <h1 data-test="alert">There is no status on the feed.</h1>
        {% endif %}
    </div>
</div>    
{% endblock content %}
