{% extends 'status/base.html' %}
{% load static %}

{% block title %}Test Index{% endblock title %}

{% block content %}
<div>
    <div>
        <div>
            <h3>{{ request.GET.nama }}</h3>
            <span>{{ request.GET.email }}</span>
        </div>
        <p>{{ request.GET.pesan }}</p>
    </div>
    <form action="" method="POST" >
        {% csrf_token %}
        <input type="hidden" name="nama" value="{{ request.GET.nama }}">
        <input type="hidden" name="email" value="{{ request.GET.email }}">
        <input type="hidden" name="pesan" value="{{ request.GET.pesan }}">
        <input type="submit" value="Konfirmasi" id="kirim">
        <button><a href="{% url 'feed' %}" id="kembali">Kembali</a></button>
    </form>
</div>    
{% endblock content %}
