{% extends 'status/base.html' %}
{% load static %}

{% block title %}Test Index{% endblock title %}

{% block content %}
<div>
    <h1>Displaying {{ user }} status</h1>
    <div>
        {% for item in status %}
            <div>
                <h3>{{ item.orang.nama }}</h3>
                <span>{{ item.orang.email }}</span>
            </div>
            <div>
                <p data-test="pesan">{{ item.pesan }}</p> 
                <p>{{ item.date_posted }}</p>
            </div>
        {% endfor %}
        {% if not status %}
            <h1 data-test="alert">There is no status on the feed.</h1>
        {% endif %}
    </div>
</div>    
{% endblock content %}
